<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>YahooSearchGatewayServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.YahooSearchGatewayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefreshModelListServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.RefreshModelListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.AutoCompleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DynamicUpdateServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.DynamicUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProgressBarServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.ProgressBarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToolTipServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.ToolTipServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>ajaxbook.chap4.ValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YahooSearchGatewayServlet</servlet-name>
    <url-pattern>/YahooSearchGateway</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefreshModelListServlet</servlet-name>
    <url-pattern>/RefreshModelList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/EmployeeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/ValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToolTipServlet</servlet-name>
    <url-pattern>/ToolTipServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProgressBarServlet</servlet-name>
    <url-pattern>/ProgressBarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynamicUpdateServlet</servlet-name>
    <url-pattern>/DynamicUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <url-pattern>/AutoCompleteServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
