<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <servlet>
        <servlet-name>WeatherForecastServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.WeatherForecastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockQuoteServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.StockQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWeatherForecastServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.UpdateWeatherForecastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStockQuoteServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.UpdateStockQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewsItemsServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.UpdateNewsItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ajaxdashboard.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeatherForecastServlet</servlet-name>
        <url-pattern>/WeatherForecast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockQuoteServlet</servlet-name>
        <url-pattern>/StockQuote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWeatherForecastServlet</servlet-name>
        <url-pattern>/UpdateWeatherForecast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStockQuoteServlet</servlet-name>
        <url-pattern>/UpdateStockQuote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewsItemsServlet</servlet-name>
        <url-pattern>/UpdateNewsItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
</web-app>
